/* Varaible globale */

:root{
    --color-1 : #FF9900;
    --color-2 : #FFFFFF;
    --color-3 : #979797;
    --color-4 : #173A56;
    --color-5 : #D8D8D8;
    --color-6 : #BCD0E5;
    --color-7 : #2F281E;
    --color-8 : #EFEFEF;

    --font-size-1 : 14px;
    --font-size-2 : 16px;
    --font-size-3 : 18px;
    --font-size-4 : 20px;
    --font-size-5 : 24px;
    --font-size-6 : 36px;

    --font-weight-1 : 400;
    --font-weight-2 : 500;
    --font-weight-3 : 700;
    --font-weight-4 : bold;

    --font-family-1 : Poppins;
    --font-family-2 : Gotham-Bold;
}

/* Police */
@font-face {
    font-family: var(--font-family-2);
    src: url("polices/GothamBold/GothamBold.otf") format("otf");
   }

@font-face {
font-family: "Poppins";
src: url("polices/poppins/Poppins-Regular.ttf") format("ttf");
}

/* Body */
.container-fluid{
    padding: 0px !important;
}

/* Navigation */
#navigation{
    background-color: var(--color-2);
    border-top: solid 1px var(--color-3);
    border-bottom: solid 1px var(--color-3);
    margin-top: 20px;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#navigation .nav-link{
    color: var(--color-7);
    font-family: var(--font-family-1);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-1);
}

#navigation .nav-link:hover{
    color: var(--color-1);
}

/* boutton page */

#signUp,
#signIn,
#first-section-button,
#feature-button
#button-contact,
#footer-button{
    border: 1px solid;
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-2);
    cursor: pointer;
    font-family: var(--font-family-1);
}

#signIn,
#button-contact:hover,
#first-section-button:hover,
#feature-button:hover,
#signUp:hover,
#footer-button:hover{
    background-color: var(--color-5);
    border-color: var(--color-6);
    color: var(--color-4);
}

#signUp,
#button-contact,
#first-section-button,
#feature-button,
#signIn:hover,
#footer-button{
    background-color: var(--color-1);
    border-color: var(--color-1);
    color: var(--color-2);
}

#first-section-button{
    font-weight: var(--font-weight-3);
    padding: 8px 25px;
}

#feature-button{
    font-weight: var(--font-weight-4);
    padding: 8px 25px;
}

#button-contact{
    font-weight: var(--font-weight-4);
    padding: 8px 25px;
}

#footer-button{
    font-weight: var(--font-weight-3);
    padding: 8px 20px;
}


/* first-section */

#first-section h2{
    font-size: 44px;
    font-weight: var(--font-weight-4);
    color: var(--color-7);
    font-family: var(--font-family-1);
}

#first-section p{
    font-size: 18px;
    color: var(--color-7);
    font-family: var(--font-family-1);
}

#first-section a{
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-3);
    color: var(--color-1);
}


/* feature */

#feature{
    background-image: url("images/feature-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 543px;
}

#feature h2{
    font-family: var(--font-family-1);
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-3);
}

#feature .feature-title{
    font-family: var(--font-family-1);
    font-size: 22px;
    font-weight: 600;
    margin-top: 15px;
}

#feature .feature-text{
    font-family: var(--font-family-1);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-2);
}

/* multi block description  */

#product-manager p,
#effort-validation p,
#marketers p{
    font-family: var(--font-family-1);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-2);
    width: 50%;
}

#product-manager p{
    width: 58%;  
}

#product-manager .sub_title,
#effort-validation .sub_title,
#marketers .sub_title{
    font-family: var(--font-family-1);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-3);
}

#product-manager h2,
#effort-validation h2,
#marketers h2{
    font-family: var(--font-family-1);
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-3);  
}

.up_title{
    margin-bottom:0px;
}

#product-manager p {
    width: 85%;
}

/* Contact + personnages*/

#contact{
    background-image: url("images/contact-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 835px;
}

#contact h2{
    font-family: var(--font-family-1);
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-3);  
}

#contact p {
    font-family: var(--font-family-1);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-2);  
}

#contact .bulle-text{
    background: var(--color-2);
    padding: 10px 20px;
    margin: 0px;
    border-radius: 14px;
}

#contact .bulle-text p{
    margin: 0px;
    font-family: var(--font-family-1);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-2);
}

#personnage-1 .bulle-text{
    position: relative;
    left: 66px;
    top: 12px;
}

#personnage-1{
    left: 14%;
    top: 31%;
}

#personnage-2 .bulle-text{
    position: relative;
    left: -143px;
    top: 12px;
}

#personnage-2{
    left: 22%;
    bottom: 20%;
}

#personnage-3 .bulle-text{
    position: relative;
    left: -220px;
    top: 12px;
}

#personnage-3{
    right: 33%;
    bottom: 10%;
}

#personnage-4 .bulle-text{
    position: relative;
    left: -173px;
    top: 18px;
}

#personnage-4{
    right: 9%;
    bottom: 25%;
}

#personnage-5 .bulle-text{
    position: relative;
    left: -186px;
    top: 12px;
}

#personnage-5{
    right: 14%;
    top: 24%;
}

/*  SLider */

#carousel .slide{
    display:none;
}

#carousel{
    display: flex;
}
   
#carousel .active,
#carousel .prev-slide,
#carousel .next-slide{
    display:flex;
    flex-direction: column;
}

#carousel .active{
    order: 2;
}

#carousel .prev-slide{
    order: 1;
}

#carousel .next-slide{
    order: 3;
}

#carousel .slide p{
    font-family: var(--font-family-1);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-1);  
}

#carousel .slide p:last-child{
    font-family: var(--font-family-1);
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-3);  
}

#carousel .slide span{
    font-weight: var(--font-weight-3);  
}


/* Dots */
#dots .dot{
    height: 14px;
    width: 14px;
    background-color: var(--color-8);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

#dots .active{
    background-color: var(--color-1);
}


/* Footer */

footer li{
    list-style-type: none;
    margin-bottom: 5px;
}

footer li a{
    color: var(--color-7);
    cursor: pointer;
    text-decoration: none;
    font-family: var(--font-family-1);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-1);
}

footer li a:hover{
    color: var(--color-1);
}

footer .sub-title{
    font-family: var(--font-family-2);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-1);
}

footer input{
    padding: 8px 6px;
    border-radius: 8px;
    border: 1px solid var(--color-3);
}

.texte-newsletter{
    font-family: var(--font-family-2);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-1);
}


/* Separator */

.separator{
    border-bottom: 1px var(--color-3) solid;
    margin: auto;
    opacity: 0.3;
}


/* Animation */

@keyframes apparition-image {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
  }

.image_animation{
    animation-name: apparition-image;
    animation-duration: 2s;
}


/* Media queries */

@media only screen and (max-width: 1700px) {
    #feature {
        background-size: cover;
        min-height: 300px;
        background-position: top;
    }

    #feature-button{
        position:relative;
        bottom: 15px;

    }
}

@media only screen and (max-width: 1300px) {
    #feature {
        background-size: cover;
        min-height: 300px;
        background-position: top;
    }

    #feature-button{
        position:relative;
        bottom: 15px;

    }
}

@media only screen and (max-width: 1140px) {
    #product-manager p, #effort-validation p, #marketers p {
        width: 80%;
    }
    #personnage-3 {
        right: 16%;
        bottom: 10%;
    }
    #personnage-4 {
        right: 2%;
        bottom: 25%;
    }
    #personnage-5 {
        right: 4%;
        top: 24%;
    }
    #personnage-1 {
        left: 9%;
        top: 31%;
    }
    #contact {
        background-size: contain;
    }
}

@media only screen and (max-width: 950px) {
    footer div{
        margin-top: 15px;
    }   
    #personnage-1 {
        left: 9%;
        top: 14%;
    }
    #personnage-2 {
        left: 18%;
        bottom: 25%;
    }
    #personnage-5 {
        right: 0%;
        top: 16%;
    }
    #personnage-4 {
        right: 0%;
        bottom: 20%;
    }
    #personnage-3 {
        right: 16%;
        bottom: 5%;
    }

    .prev-slide{
        display:none !important;
    }
}

@media only screen and (max-width: 950px) {
    #personnage-1 {
        left: 9%;
        top: 8%;
    }
    #personnage-2 {
        left: 21%;
        bottom: 25%;
    }

    #product-manager p, #effort-validation p, #marketers p {
        width: 100%;
    }
}


@media only screen and (max-width: 600px) {
    .next-slide{
        display:none !important;
    }
    #personnage-1,
    #personnage-2,
    #personnage-3,
    #personnage-4,
    #personnage-5 {
        display:none;
    }

    #contact {
        min-height: 400px;
    }

    #first-section h2 {
        font-size: 30px;
    }

    #feature h2 {
        font-size: 26px;
    }
    #contact h2,
    #product-manager h2, #effort-validation h2, #marketers h2 {
        font-size: 28px;
    }
}